.container{
    margin-bottom: 80px;
}
.carousel-item{
    background-color: #FCEAE8;
    border-radius: 8px;
}
.carousel-item{
    padding: 20px 60px;
}
.price {
    color : #FF136F ;
    padding-bottom: 8px;

}
.buy-now-btn{
 background-image: linear-gradient(to bottom, #FF589B 0%, #ff136f 100%  );
 color: ghostwhite;
 padding: 9px 25px;
 cursor: pointer ;
 border: none;
 border-radius: 8px;
 font-weight: bolder;
}
.cat1{
    background-color: goldenrod;
}
.cat2{
    background-color: hotpink;
}
.cat3{
    background-color: royalblue;
}
.cat1, .cat2, .cat3{
    padding: 10px 30px;
    color: seashell;
    font-size: larger;
    font-weight: bolder;
    border-radius: 6px;
    
}
.categories img{
    width: 100px;
}
.card{
    box-shadow: 5px 5px 10px gray;
    border: none;
    border-radius: 10px;
}
#subscribe{
    background-color: #FCEAE8;
    height: 300px;
    border-radius: 10px;
}

#subscribe h6{
    color: gray;
    }

    footer{
        text-align: center;
        color: olive;
    }

